.container {

    margin: 0 auto;
    padding: 0 15px;

    // outline: 2px solid red;
    // outline-offset: -2px;

    // mobile
    @media screen and (min-width: $mobile) {
        width: $mobile;
    }

    // tablet
    @media screen and (min-width: $tablet) {
        width: $tablet;
    }
    
    // desctop
    @media screen and (min-width: $desctop) {
        width: $desctop;
    }

}